@model int

@{
    ViewBag.Title = "Get";
}

<h2>Get</h2>

<p>You requested Id @Model</p>

@using (Html.BeginForm("Post","Sample")) 
{
    <button type="submit">Submit</button>
}

@{ Html.RenderAction("ChildAction"); }